#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* SignInSignUpSection.css */
.section-style {
  background: #ffffff;
  color: rgb(255, 255, 255);
}

.container-style {
  background: #f6f6f2;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #9acdd0;
}

.button-signin {
  background: #6FB3B8;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  font-weight: bold;
  font-size: 1.2rem;
  border-width: 0;
  border-style: solid;
}

.button-signup {
  background: #A3A3A3;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  font-size: 1.2rem;
  border-width: 0;
}

.form-container {
  height: 422px;
  background: #ffffff;
  color: var(--bs-secondary);
  width: 552px;
  border-width: 5px;
  border-radius: 23px;
  box-shadow: 0px 0px 20px 0px #9acdd0;
}

.button-login {
  border-radius: 11px;
  width: 329.3125px;
  background: #6FB3B8;
}
